
@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 100;
    src: local('Noto Sans KR Thin'), local('Noto Sans CJK KR Thin'),
    url(../font/NotoSansKR-Thin.woff2) format('woff2'),
    url(../font/NotoSansKR-Thin.woff) format('woff'),
    url(../font/NotoSansKR-Thin.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 300;
    src: local('Noto Sans KR Light'), local('Noto Sans CJK KR Light'),
    url(../font/NotoSansKR-Light.woff2) format('woff2'),
    url(../font/NotoSansKR-Light.woff) format('woff'),
    url(../font/NotoSansKR-Light.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    src: local('Noto Sans KR Regular'), local('Noto Sans CJK KR Regular'),
    url(../font/NotoSansKR-Regular.woff2) format('woff2'),
    url(../font/NotoSansKR-Regular.woff) format('woff'),
    url(../font/NotoSansKR-Regular.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    src: local('Noto Sans KR Medium'), local('Noto Sans CJK KR Medium'),
    url(../font/NotoSansKR-Medium.woff2) format('woff2'),
    url(../font/NotoSansKR-Medium.woff) format('woff'),
    url(../font/NotoSansKR-Medium.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 700;
    src: local('Noto Sans KR Bold'), local('Noto Sans CJK KR Bold'),
    url(../font/NotoSansKR-Bold.woff2) format('woff2'),
    url(../font/NotoSansKR-Bold.woff) format('woff'),
    url(../font/NotoSansKR-Bold.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 900;
    src: local('Noto Sans KR Black'), local('Noto Sans CJK KR Black'),
    url(../font/NotoSansKR-Black.woff) format('woff'),
    url(../font/NotoSansKR-Black.otf) format('opentype');
}


@font-face {
    font-family: 'Black Han Sans';
    font-style: normal;
    font-weight: 400;
    src: local('BlackHanSans-Regular'), 
    url(../font/BlackHanSans-Regular.ttf) format('truetype');
}

@font-face {
	font-family: 'SB Aggro';
	font-weight: 300;
	font-style: normal;
	src: url(../font/SBAggroL.ttf) format('truetype');
}

@font-face {
	font-family: 'SB Aggro';
	font-weight: 400;
	font-style: normal;
	src: url(../font/SBAggroM.ttf) format('truetype');
}

@font-face {
	font-family: 'SB Aggro';
	font-weight: 700;
	font-style: normal;
	src: url(../font/SBAggroB.ttf) format('truetype');
}

/* Wanted Sans */

@font-face {
    font-family: 'Wanted Sans';
    font-style: normal;
    font-weight: 400;
    src: url(../font/WantedSans-Regular.woff2) format('woff2'),
         url(../font/WantedSans-Regular.woff) format('woff'),
         url(../font/WantedSans-Regular.otf) format('opentype');
}

@font-face {
    font-family: 'Wanted Sans';
    font-style: normal;
    font-weight: 500;
    src: url(../font/WantedSans-Medium.woff2) format('woff2'),
         url(../font/WantedSans-Medium.woff) format('woff'),
         url(../font/WantedSans-Medium.otf) format('opentype');
}

@font-face {
    font-family: 'Wanted Sans';
    font-style: normal;
    font-weight: 600;
    src: url(../font/WantedSans-SemiBold.woff2) format('woff2'),
         url(../font/WantedSans-SemiBold.woff) format('woff'),
         url(../font/WantedSans-SemiBold.otf) format('opentype');
}

@font-face {
    font-family: 'Wanted Sans';
    font-style: normal;
    font-weight: 700;
    src: url(../font/WantedSans-Bold.woff2) format('woff2'),
         url(../font/WantedSans-Bold.woff) format('woff'),
         url(../font/WantedSans-Bold.otf) format('opentype');
}

@font-face {
    font-family: 'Wanted Sans';
    font-style: normal;
    font-weight: 800;
    src: url(../font/WantedSans-ExtraBold.woff2) format('woff2'),
         url(../font/WantedSans-ExtraBold.woff) format('woff'),
         url(../font/WantedSans-ExtraBold.otf) format('opentype');
}

@font-face {
    font-family: 'Wanted Sans';
    font-style: normal;
    font-weight: 900;
    src: url(../font/WantedSans-Black.woff2) format('woff2'),
         url(../font/WantedSans-Black.woff) format('woff'),
         url(../font/WantedSans-Black.otf) format('opentype');
}

@font-face {
    font-family: 'Wanted Sans';
    font-style: normal;
    font-weight: 950;
    src: url(../font/WantedSans-ExtraBlack.woff2) format('woff2'),
         url(../font/WantedSans-ExtraBlack.woff) format('woff'),
         url(../font/WantedSans-ExtraBlack.otf) format('opentype');
}

/* Pretendard */

@font-face {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 100;
    src: url(../font/Pretendard-Thin.woff2) format('woff2'),
         url(../font/Pretendard-Thin.woff) format('woff'),
         url(../font/Pretendard-Thin.otf) format('opentype');
}

@font-face {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 200;
    src: url(../font/Pretendard-ExtraLight.woff2) format('woff2'),
         url(../font/Pretendard-ExtraLight.woff) format('woff'),
         url(../font/Pretendard-ExtraLight.otf) format('opentype');
}

@font-face {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 300;
    src: url(../font/Pretendard-Light.woff2) format('woff2'),
         url(../font/Pretendard-Light.woff) format('woff'),
         url(../font/Pretendard-Light.otf) format('opentype');
}

@font-face {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 400;
    src: url(../font/Pretendard-Regular.woff2) format('woff2'),
         url(../font/Pretendard-Regular.woff) format('woff'),
         url(../font/Pretendard-Regular.otf) format('opentype');
}

@font-face {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 500;
    src: url(../font/Pretendard-Medium.woff2) format('woff2'),
         url(../font/Pretendard-Medium.woff) format('woff'),
         url(../font/Pretendard-Medium.otf) format('opentype');
}

@font-face {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 600;
    src: url(../font/Pretendard-SemiBold.woff2) format('woff2'),
         url(../font/Pretendard-SemiBold.woff) format('woff'),
         url(../font/Pretendard-SemiBold.otf) format('opentype');
}

@font-face {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 700;
    src: url(../font/Pretendard-Bold.woff2) format('woff2'),
         url(../font/Pretendard-Bold.woff) format('woff'),
         url(../font/Pretendard-Bold.otf) format('opentype');
}

@font-face {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 800;
    src: url(../font/Pretendard-ExtraBold.woff2) format('woff2'),
         url(../font/Pretendard-ExtraBold.woff) format('woff'),
         url(../font/Pretendard-ExtraBold.otf) format('opentype');
}

@font-face {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 900;
    src: url(../font/Pretendard-Black.woff2) format('woff2'),
         url(../font/Pretendard-Black.woff) format('woff'),
         url(../font/Pretendard-Black.otf) format('opentype');
}